.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.container {
  max-width: 1580px;
  margin: 0 auto;
}
.full-container {
  max-width: 1800px;
  margin: 0 auto;
}
.full-width {
  max-width: 1920px;
  margin: 0 auto;
}
html, body {
  font-family: 'Montserrat', sans-serif;
  color: #214777;
}
.slider {
  min-height: 750px;
}
body.modal-open:before {
  content: '';
  position: fixed;
  background: #333;
  left: 0;
  right: 0;
  z-index: 9;
  height: 100%;
  opacity: .7;
}
body.modal-open {
  position: fixed;
}
body.modal-open header {
  position: static;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
